[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = "A GitHub API client library for .NET "
[access "refs/*"]
	owner = group user/drok-feedback
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/drok-feedback
	label-Verified = -1..+1 group user/drok-feedback
	push = group user/drok-feedback
	read = group user/drok-feedback
	rebase = group user/drok-feedback
	removeReviewer = group user/drok-feedback
	submit = group user/drok-feedback
[access "refs/heads/*"]
	create = group user/drok-feedback
	push = +force group user/drok-feedback
	pushMerge = group user/drok-feedback
	read = group user/drok-feedback
[access "refs/tags/*"]
	push = group user/drok-feedback
	push = +force group user/drok-feedback
